<a href="https://colab.research.google.com/github/dianakang/K_digital_likelion/blob/master/20201222.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6.1 판다스 데이터프레임과 시리즈

## 6.1.1 시리즈 만들기

In [174]:
# 판다스의 Series 메서드에 리스트를 전달하여 시리즈를 생성한다.
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [175]:
# 시리즈를 생성할 때 문자열을 인덱스로 지정할 수도 있다.
# Series 메서드의 index 인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달한다.
s = pd.Series(['Wes Mckinney', 'creator of Pandas'])
print(s)

0         Wes Mckinney
1    creator of Pandas
dtype: object

In [176]:
s = pd.Series(['Wes Mckinney', 'creator of Pandas'], index = ['Person','who'])
print(s)

Person         Wes Mckinney
who       creator of Pandas
dtype: object

In [177]:
a = pd.Series(['Diana Kang', 'CEO'])
print(a)

0    Diana Kang
1           CEO
dtype: object

In [178]:
a = pd.Series(['Diana Kang', 'CEO'], index = ['Person', 'who'])
print(a)

Person    Diana Kang
who              CEO
dtype: object

## 6.1.2 데이터프레임 만들기

In [179]:
# 데이터프레임을 만들기 위해서는 딕셔너리 DataFrame 클래스에 전달해야한다.
# 딕셔너리는 {key:value} 값을 갖는다.
scientists = pd.DataFrame({
    'Name' : ['Geoffrey Everest Hinton', 'Marvin Lee Minsky'],
    'Occupation' : ['pioneer in AI', 'pioneer in AI'],
    'Born' : ['1947-12-06','1927-08-09'],
    'Died' : ['_', '2016-01-24'],
    'Age' : [73, 88] 

})
print(scientists)

# 시리즈와 마찬가지로 데이터프레임도 인덱스를 따로 지정하지 않으면 인덱스를 0부터 자동으로 생성한다.
# 인덱스를 따로 지정하려면 index 인자에 리스트를 전달하면 된다.

                      Name     Occupation        Born        Died  Age
0  Geoffrey Everest Hinton  pioneer in AI  1947-12-06           _   73
1        Marvin Lee Minsky  pioneer in AI  1927-08-09  2016-01-24   88

In [180]:
# columns 인자를 사용하여 데이터프레임의 열 순서 지정하기
scientists = pd.DataFrame(
    data = {'Occupation' : ['pioneer in AI', 'pioneer in AI'],
            'Born' : ['1947-12-06','1927-08-09'],
            'Died' : ['__', '2016-01-24'],
            'Age' : [73, 88]},
    index = ['Geoffrey Everest Hinton', 'Marvin Lee Minsky'],   # 행
    columns = ['Occupation', 'Born', 'Age', 'Died'])            # 열

print(scientists)
# 데이터프레임을 만들 때 Occupation, Born, Died, Age의 순서로 딕셔너리를 전달했어도, 
# colums 인자에 Occupation, Born, Age, Died의 순서로 열 이름을 전달하면 생성된 데이터프레임의 열 순서는 columns에 전달한 값을 따라간다.

                            Occupation        Born  Age        Died
Geoffrey Everest Hinton  pioneer in AI  1947-12-06   73          __
Marvin Lee Minsky        pioneer in AI  1927-08-09   88  2016-01-24

# 6.2 시리즈 다루기 - 기초편

In [181]:
# 판다스의 데이터를 구성하는 가장 기본적인 단위는 시리즈이다.
# 이번에는 데이터프레임에서 시리즈를 선택하는 방법에 대해 살펴볼 것이다.

## 6.2.1 데이터프레임에서 시리즈 선택하기

In [182]:
# 먼저 변수 scientists에 데이터프레임을 준비한다.

In [183]:
scientists = pd.DataFrame(
    data = {'Occupation' : ['pioneer in Ai','pioneer in A.I'],
            'Born' : ['1947-12-06','1927-08-09'],
            'Died' : ['__', '2016-01-24'],
            'Age' : [73, 88]},
    index = ['Geoffrey Everest Hinton', 'Marvin Lee Minsky'],
    columns = ['Occupation', 'Born', 'Died','Age'])

In [184]:
# 데이터프레임에서 시리즈를 선택하려면 loc속성에 인덱스를 전달하면 된다.
# type을 통해 시리즈가 맞는지 다시 한 번 확인한다.
first_row = scientists.loc['Geoffrey Everest Hinton']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [185]:
# 데이터프레임을 만들 때 Age열에 정수형 리스트를 전달해도 시리즈(first_row)를 출력해보면 object(문자열)로 인식한다.
print(first_row)
# Died의 값이 _인 것은 값이 없다는 것이다. 프로그래밍에서는 값이 없을 때, _(언더바)를 넣어준다.

Occupation    pioneer in Ai
Born             1947-12-06
Died                     __
Age                      73
Name: Geoffrey Everest Hinton, dtype: object

## 6.2.2 시리즈 속성과 메서드 사용하기 - index, values, keys

### (1) index 속성 사용하기

In [186]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### (2) values 속성 사용하기

In [187]:
print(first_row.values)

['pioneer in Ai' '1947-12-06' '__' 73]

### (3) keys 메서드 사용하기

In [188]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

### (4) index 속성 응용하기

In [189]:
print(first_row.index[0])

Occupation

### (5) keys 메서드 응용하기

In [190]:
print(first_row.keys()[0])

Occupation

## 6.2.3 시리즈의 기초 통계 메서드 사용하기

In [191]:
# 시리즈에 미리 정의되어 있는 mean, min, max, std 메서드의 사용방법을 알아보자.
ages = scientists['Age']
print(ages)

Geoffrey Everest Hinton    73
Marvin Lee Minsky          88
Name: Age, dtype: int64

In [192]:
# 만약 시리즈를 구성하는 데이터가 정수라면 mean, min, max, std 같은 통계 메서드를 사용할 수 있다.
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

80.5
73
88
10.606601717798213

# 6.3 시리즈 다루기 - 응용편

## 6.3.1 시리즈와 불린 추출

In [193]:
# 앞서 데이터를 추출할 때 특정 인덱스를 지정하였다.
# 하지만 보통 추출할 때 데이터의 정확한 인덱스를 모르는 경우가 더 일반적이다.
# 이러한 경우에 사용하는 방법이 '불린 추출'이다. '불린 추출'은 '특정 조건을 만족하는 값만 추출'할 수 있다.

In [194]:
# 1. 가장 먼저 'scientists.csv'라는 이름의 데이터를 불러온다.
scientists = pd.read_csv('/content/drive/MyDrive/3주차/dataset/scientists (1).csv')

In [195]:
# 2. 이제 통계 수치의 결과값을 이용해 불린 추출을 진행해보자.
# Age 열을 추출하여 max, min 메서드를 사용한 것이다.
ages = scientists['Age']
print(ages.max())
print(ages.min())

90
37

In [196]:
# 3. 이제 불린 추출을 사용할 차례이다. 
# '불린 추출'이란 내가 원하는 기준에 맞춰 출력을 해주는 것이다.
# 평균 나이 보다 나이가 많은 사람의 데이터를 추출해보자.
print(ages[ages> ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [197]:
# 4. 먼저 ages>ages.mean()의 결과를 출력해보자. 그러면 1,2,3,7 인덱스의 데이터가 참(True)이라는 것을 알 수 있다.
print(ages>ages.mean())
# 참고로 True/False의 값을 Bool(불)이라고 부른다.

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [198]:
# 5. 리스트 형태로 참이나 거짓을 담아 시리즈에 전달하면 참인 인덱스의 데이터만 추출할 수 있다.
# 바로 이것을 '불린 추출'이라 한다.
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

## 6.3.2 시리즈와 브로드캐스팅

In [199]:
# ages > ages.mean() 결과값이 여러 개라는 것을 알 수 있는데, 
# 이렇게 시리즈나 데이터프레임에 있는 '모든 데이터를 한 번에 연산하는 것'을 '브로드캐스팅(Broadcasting)'이라고 한다.

# 또한 시리즈처럼 여러 개의 값을 가진 데이터를 벡터라고 하며, 단순 크기를 나타내는 데이터를 스칼라라고 한다.

In [200]:
# 같은 길이의 벡터로 연산 -> 같은 길이의 벡터가 출력

In [201]:
# 다음은 같은 길이의 벡터로 더하기 연산과 곱하기 연산을 수행한 것이다.
print(ages + ages)
print("----"*20)
print(ages * ages)
# 결과값으로 같은 길이의 벡터가 출력된다.

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
--------------------------------------------------------------------------------
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [202]:
# 그렇다면 벡터에 스칼라(1차원)연산을 하면 어떻게 될까?
print(ages + 100)    # ages = 벡터 / 100 = 스칼라
print(ages * 2)
# 벡터의 모든 값에 스칼라를 적용하여 브로드캐스팅(모든데이터를 한 번에 연산)한 결과를 확인할 수 있다.

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [203]:
# 그렇다면 길이가 서로 다른 벡터를 연산하면 어떤 결과를 출력할까?

In [204]:
# 다음은 데이터의 개수가 3개인 시리즈와 8개인 시리즈를 더한 것이다.

In [205]:
print(pd.Series([1,100,99]))  # ----> 3개의 시리즈

0      1
1    100
2     99
dtype: int64

In [206]:
print(ages + pd.Series([1,100,99]))   # ages = 8개의 시리즈

0     38.0
1    161.0
2    189.0
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [207]:
# 결과값을 살펴보면 인덱스가 일치한 0,1,2만 계산했다는 것을 알 수 있다.
# 나머지 인덱스(3 ~ 7)는 계산을 할 수 없기 때문에 누락값(NaN)으로 처리한다.
# 즉, 길이가 서로 다른 벡터 연산에서는 인덱스가 일치하지 않으면 누락값(NaN) 처리한다.

In [208]:
# sort_index 메서드 사용

In [209]:
# ascending 인자로 False를 전달하여 인덱스 역순으로 데이터를 정렬
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [210]:
# 그렇다면 인덱스 순서대로 정렬된 ages와 역순으로 정렬된 rev_age를 연산하면 어떻게 될까?

In [211]:
print(ages*2)
print("-"*30)
print(ages + rev_ages)
# 결과값이 동일하다. ages의 인덱스(0~7)와 rev_ages의 인덱스(0~7)가 일치하는 값끼리 연산했기 때문이다.
# 이처럼 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행하게 된다.

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
------------------------------
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 6.4 데이터프레임 다루기

In [212]:
# 데이터프레임도 시리즈와 마찬가지로 '불린 추출'과 '브로드캐스팅'을 할 수 있다.
# '불린 추출' = '특정 조건을 만족하는 값만 추출'
# '브로드캐스팅' = '모든 데이터를 한 번에 연산하는 것'

## 6.4.1 데이터프레임과 불린 추출

In [213]:
# 데이터프레임도 불린 추출을 할 수 있다.
# 다음은 데이터프레임의 Age열에서 Age열의 평균보다 높은 행만 출력한다.
print(scientists[scientists['Age']> scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

## 6.4.2 데이터프레임과 브로드캐스팅

In [214]:
# 데이터프레임에 스칼라 연산을 적용하여 연산할 수 있다.
print(scientists * 2)
# scientists 데이터프레임에 2를 곱하면 정수 데이터는 2를 곱한 숫자가 되고, 문자열 데이터는 문자열이 2배로 늘어난다.

                                       Name  ...                            Occupation
0        Rosaline FranklinRosaline Franklin  ...                        ChemistChemist
1              William GossetWilliam Gosset  ...              StatisticianStatistician
2  Florence NightingaleFlorence Nightingale  ...                            NurseNurse
3                    Marie CurieMarie Curie  ...                        ChemistChemist
4                Rachel CarsonRachel Carson  ...                    BiologistBiologist
5                        John SnowJohn Snow  ...                    PhysicianPhysician
6                    Alan TuringAlan Turing  ...  Computer ScientistComputer Scientist
7                  Johann GaussJohann Gauss  ...            MathematicianMathematician

[8 rows x 5 columns]

In [215]:
# 지금까지 시리즈와 데이터프레임에서 데이터를 추출하는 방법을 알아보았다. 
# 이제는 시리즈와 데이터프레임에 있는 데이터를 처리하는 방법에 대해 알아보자!

# 6.5 시리즈와 데이터프레임의 데이터 처리하기

In [216]:
# 1. 열의 자료형 바꾸기와 새로운 열 추가하기
# scientists 데이터프레임의 Born과 Died 열의 자료형을 확인해보자.
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)
# 각각의 자료형은 문자열(오브젝트)이다.

object
object

In [217]:
# 2. 날짜를 문자열로 저장한 데이터는 시간 관련 작업을 할 수 있도록 daytime 자료형으로 바꾸는 것이 좋다.
# 다음은 Born과 Died열의 자료형을 datetime자료형으로 바꾼 다음 format 속성을 '%Y-%m-%d'로 지정하여 날짜 형식을 지정한 것이다.
born_datetime = pd.to_datetime(scientists['Born'],format = '%Y-%m-%d')
print(born_datetime)
died_datetime = pd.to_datetime(scientists['Died'],format = '%Y-%m-%d')
print(died_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [218]:
# 3. 이제 데이터프레임에 새로운 열('born_dt','died_dt')을 추가해볼 것이다.
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())
print(scientists.shape)
# shape속성으로 데이터프레임의 형태를 살펴보면 (8,5)에서 (8,7)로 2개의 열이 추가되었다는 것을 알 수 있다.
# 여기서 추측해볼 수 있는 것은 데이터프레임에서는 데이터의 추가, 삭제가 가능하다는 것이다.

                   Name        Born  ...    born_dt    died_dt
0     Rosaline Franklin  1920-07-25  ... 1920-07-25 1958-04-16
1        William Gosset  1876-06-13  ... 1876-06-13 1937-10-16
2  Florence Nightingale  1820-05-12  ... 1820-05-12 1910-08-13
3           Marie Curie  1867-11-07  ... 1867-11-07 1934-07-04
4         Rachel Carson  1907-05-27  ... 1907-05-27 1964-04-14

[5 rows x 7 columns]
(8, 7)

In [219]:
# 4. 이제 시간 계산을 해볼 차례이다. diet_dt열에서 born_dt를 빼면 과학자가 얼마 동안 세상을 살다가 떠났는지 계산할 수 있다.
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born  ...    died_dt  age_days_dt
0     Rosaline Franklin  1920-07-25  ... 1958-04-16   13779 days
1        William Gosset  1876-06-13  ... 1937-10-16   22404 days
2  Florence Nightingale  1820-05-12  ... 1910-08-13   32964 days
3           Marie Curie  1867-11-07  ... 1934-07-04   24345 days
4         Rachel Carson  1907-05-27  ... 1964-04-14   20777 days
5             John Snow  1813-03-15  ... 1858-06-16   16529 days
6           Alan Turing  1912-06-23  ... 1954-06-07   15324 days
7          Johann Gauss  1777-04-30  ... 1855-02-23   28422 days

[8 rows x 8 columns]

In [220]:
# 5. 가끔은 데이터를 적다히 섞어야 하는 경우도 있다. 판다스는 시리즈나 데이터프레임의 데이터를 무작위로 섞어볼 수도 있다.
# 먼저 Age 값을 출력하여 살펴볼 것이다.
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [221]:
# 6. Age 열의 데이터를 섞으려면 random 라이브러리를 불러와야 한다.
# 데이터를 섞어주는 shuffle 메서드에 Age 열을 전달하여 진행해본다.
# seed 메서드는 컴퓨터가 생성하는 난수의 기준값을 정하기 위해 사용되어진다.

import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

# Age 열을 출력해보면 인덱스 0 ~ 7에 해당하는 값이 잘 섞어 있음을 알 수 있다.

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

/usr/lib/python3.6/random.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

In [222]:
# 7. 때로는 열을 통째로 삭제해야 하는 경우도 있다.
# 먼저 scientists 데이터프레임의 열을 확인해보겠다.
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [223]:
# 8. 데이터프레임에서 열을 삭제하려면 데이터프레임의 drop 메서드를 사용해야한다.
# shuffle 메서드로 섞은 Age 열을 삭제해보자.
scientists_dropped = scientists.drop(['Age'], axis = 1)
print(scientists_dropped.columns)

# drop메서드의 첫 번째 인자에서 열 이름을 리스트에 담아 전달하고, 두 번째 인자에는 axis = 1을 전달하면 Age열을 삭제할 수 있다.

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [224]:
# 지금까지 데이터를 추출하고 처리하는 방법에 대해 알아보았다. 일종의 '데이터 가공처리'를 거친 것이다. 
# 이렇게 잘 가공한 데이터는 안전하게 보관해야한다. 그래야 다음에 또 사용할 수 있다.
# 판다스는 데이터를 저장하는 다양한 방법을 제공한다. 여기서는 가공한 데이터를 csv, tsv 파일로 저장하고 다시 불러오는 방법에 대해 알아볼 것이다.

# 6.6 데이터 저장하고 불러오기

In [225]:
# CSV파일과 TSV 파일로 저장하기

## CSV파일은 데이터를 '쉼표'로 구분하여 저장한 파일이고, TSV파일은 데이터를 '탭'으로 구분하여 저장한 파일이다.

In [226]:
# to_csv메서드로 시리즈와 데이터프레임을 CSV파일로 저장할 수 있다.
# 이때 sep 인자를 추가하여 \t를 지정하고 파일의 확장자를 '.tsv'로 지정하면 TSV 파일로 저장할 수 있다.
names = scientists['Name']
names.to_csv('/content/drive/MyDrive/3주차/dataset/scientists.csv')
scientists.to_csv('/content/drive/MyDrive/3주차/dataset/gapminder.tsv',sep='\t')

In [227]:
# 시리즈와 데이터프레임을 엑셀 파일로 저장하기

## 시리즈는 엑셀 구조와 맞지 않기 때문에 엑셀 파일로 저장할 수 없다. 엑셀 파일로 저장할 수 있는 데이터프레임으로 변환해야 한다.
## 시리즈는 to_frame이라는 메서드를 사용해 데이터프레임으로 변환한 다음 엑셀 파일로 저장한다.
## 다음은 시리즈를 데이터프레임으로 변환한 다음 엑셀 파일(확장자 xls,xlsx)로 저장한 것이다.

import xlwt
import openpyxl

name_df = names.to_frame()

name_df.to_excel('/content/drive/MyDrive/3주차/dataset/test_df.xls')
name_df.to_excel('/content/drive/MyDrive/3주차/dataset/test_df.xlsx')