<a href="https://colab.research.google.com/github/dianakang/K_digital_likelion/blob/master/20201224.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 8.1 데이터 연결하기

In [3]:
# 분석하기 좋은 데이터

## 데이터 분석 목적에 맞는 데이터를 모아 새로운 표(table)을 만든다.
## 측정한 값은 행(row)을 구성한다.
## 변수는 열(column)로 구성한다.

In [4]:
# 데이터 연결하기

## 데이터 집합은 연관성이 깊은 값끼리 모여 있기 때문에 데이터 연결을 통해 필요한 데이터를 만드는 과정이 반드시 필요하다.

In [5]:
# concat 메서드로 데이터 연결하기

import pandas as pd
df1 = pd.read_csv('/content/drive/MyDrive/3주차/dataset/concat_1.csv')
df2 = pd.read_csv('/content/drive/MyDrive/3주차/dataset/concat_2.csv')
df3 = pd.read_csv('/content/drive/MyDrive/3주차/dataset/concat_3.csv')

In [6]:
# concat 메서드에 연결하려는 데이터프레임을 리스트에 담아 전달한다.
## concat 메서드는 데이터프레임을 연결할 때 '위에서 아래 방향'으로 연결한다.
## df1,2,3은 열 이름이 모두 A,B,C,D로 같다. 그래서 데이터프레임을 연결한 다음에도 열이 그대로 유지된다.

row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [7]:
# 연결한 데이터프레임에 행 데이터를 추가해보자.
# concat 메서드는 전달받은 리스트의 요소 순서대로 데이터를 연결한다. 그래서 기존 데이터프레임에 있던 인덱스도 그대로 유지된다.

print(row_concat.iloc[3, ])   # iloc = '행 번호'를 기준으로 행 데이터 추출

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [8]:
## 세미콜론(;) 이용
print(row_concat.iloc[3, ]); print(row_concat.iloc[4, ]); print(row_concat.iloc[5, ])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object
A    a4
B    b4
C    c4
D    d4
Name: 0, dtype: object
A    a5
B    b5
C    c5
D    d5
Name: 1, dtype: object

In [9]:
print(row_concat.iloc[3, ])
print(row_concat.iloc[4, ])
print(row_concat.iloc[5, ])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object
A    a4
B    b4
C    c4
D    d4
Name: 0, dtype: object
A    a5
B    b5
C    c5
D    d5
Name: 1, dtype: object

In [10]:
# 이번에는 데이터프레임에 시리즈를 추가해볼 것이다. 먼저 리스트를 시리즈로 변환한다.
new_row_series = pd.Series(['n1','n2','n3','n4'])  # 보다시피 열에 대한 정보는 없다.

In [11]:
# concat 메서드로 데이터프레임과 시리즈를 연결해볼 것이다. 시리즈는 새로운 열(세로)로 추가가 된다.
print(pd.concat([df1, new_row_series]))

# NaN(누락값)이 많이 생겼다.

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [12]:
# 시리즈에 열 이름이 없기 때문에 이를 새로운 열로 간주하여 0이라는 이름의 열로 추가하였음을 알 수 있다.
# 즉, 행이 1개라도 반드시 데이터프레임에 담아 연결해야하며 열의 이름을 꼭 지정해줘야함을 알 수 있다.

## 8.1.1 행 1개로 구성된 데이터프레임에 담아 연결하기

In [13]:
# 다음은 1개의 행을 가지는 데이터프레임을 생성하여 df1에 연결한 것이다.
# columns=['A','B','C','D'] -> 열에 대한 정보를 주고 있음을 알 수 있다.

new_row_df = pd.DataFrame([['n1','n2','n3','n4']], columns=['A','B','C','D'])
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [14]:
print(pd.concat([df1, new_row_df]))

# 누락값 없이 완벽하게 출력되고 있음을 알 수 있다.

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [15]:
# 연결할 데이터 프레임이 1개라면 append 메서드를 사용한다.

print(df1.append(new_row_df))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [16]:
# append메서드와 딕셔너리{key : value}를 사용하면 더욱 간편하게 행을 연결할 수 있다.
# 이때 ignore_index를 True로 설정하면 데이터를 연결한 다음 데이터프레임의 인덱스를 0부터 다시 지정한다.

data_dict = {'A': 'n1','B':'n2', 'C': 'n3', 'D': 'n4'}
print(df1.append(data_dict, ignore_index=True))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

## 8.1.2 다양한 방법으로 데이터 연결하기

In [17]:
# ignore_index 인자 사용하기

## ignore_index를 True로 지정하여 데이터를 연결하고 데이터프레임의 인덱스를 0부터 다시 지정한다.

row_concat_i = pd.concat([df1, df2, df3], ignore_index=True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [18]:
# 열 방향으로 데이터 연결하기 -> concat 메서드의 axis 인자를 1로 지정하면 된다.

## 다음은 df1, df2, df3를 열 방향으로 연결한 것이다.
col_concat = pd.concat([df1, df2, df3], axis = 1)  # axis = 1 -> 열 방향
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [19]:
# A라는 열의 모든 데이터 출력
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [20]:
# 새로운 열 추가
col_concat['new_col_list'] = ['n1', 'n2','n3','n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [21]:
# 열 이름을 숫자로 지정하여 중복 없애기 <- ignore_index= True

print(pd.concat([df1, df2, df3], axis = 1, ignore_index=True))

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [22]:
# 공통 열과 공통 인덱스만 연결하기

## 만약 열 이름의 일부가 서로 다른 데이터프레임을 연결하면 어떻게 될까?

df1.columns = ['A','B','C','D']
df2.columns = ['E','F','G','H']
df3.columns = ['A','C','F','H']
print(df1)
print(type(df1))

print(df2)
print(type(df2))

print(df3)
print(type(df3))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
<class 'pandas.core.frame.DataFrame'>
    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
<class 'pandas.core.frame.DataFrame'>
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
<class 'pandas.core.frame.DataFrame'>

In [23]:
# 새롭게 열 이름을 부여한 데이터프레임 3개를 concat 메서드로 연결해보니 열 이름이 정렬되며 연결되었다.
# 그리고 데이터프레임에 없는 열 이름의 데이터는 누락값으로 처리되었다. <- 서로 다른 데이터를 연결했기 때문.

row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [24]:
# 데이터프레임의 공통 열만 골라 연결하면 누락값이 생기지 않을 것이다.
# 공통 열만 골라서 연결하려면 join인자를 inner로 지정해야한다.

print(pd.concat([df1,df2,df3], join='inner'))

# 출력을 해보니 df1,df2,df3는 공통 열이 없다.
# 따라서 세 데이터프레임의 공통 열을 연결한 결과값으로 Empty DataFrame이 출력되고 있다.

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [25]:
# df1,df3의 공통 열만 골라 추출해보겠다. 그러면 공통 열인 A와 C만 연결된다.
print(pd.concat([df1, df3], ignore_index=False, join='inner'))    # inner join 내부조인: 같은 데이터를 행으로 연결

# 누락값 없이 데이터가 잘 연결되고 있다.

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [26]:
# 이번에는 데이터프레임을 행 방향으로 연결해보자. df1, df2, df3의 인덱스를 다시 지정해보자.
df1.index = [0,1,2,3]
df2.index = [4,5,6,7]
df3.index = [0,2,5,7]

print(df1); print(df2); print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [27]:
# concat메서드로 df1,df2,df3을 행 방향으로 연결하면 비슷한 결과가 출력될 것이다.
col_concat = pd.concat([df1, df2, df3], axis=1)
print(col_concat)

# 단, 누락값이 발생한다.

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [28]:
# df1, df3의 공통 행만 골라 연결
print(pd.concat([df1, df3], axis=1, join='inner'))

# 그러면 공통 행인 0과 2만 출력된다.

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

In [29]:
#--------------------------------------------------------------------------------

In [30]:
# 내부 조인: 둘 이상의 데이터프레임에서 조건에 맞는 행을 연결하는 것
# 외부 조인:

In [31]:
# merge 메서드 사용하기

In [32]:
## 다음은 특정 위치의 날씨 정보에 필요한 데이터 집합을 모두 불러온 것이다. 
person = pd.read_csv('/content/drive/MyDrive/3주차/dataset/survey_person.csv')   # 관측한 사람의 이름
site = pd.read_csv('/content/drive/MyDrive/3주차/dataset/survey_site.csv')       # 관측 위치
survey = pd.read_csv('/content/drive/MyDrive/3주차/dataset/survey_survey.csv')   # 날씨 정보
visited = pd.read_csv('/content/drive/MyDrive/3주차/dataset/survey_visited.csv') # 관측 날짜

print(person); print(site); print(survey); print(visited)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [33]:
## visited 데이터프레임의 일부 데이터만 떼어 사용할 것이다.
visited_subset = visited.loc[[0, 2, 6], ]
# print(visited_subset)

In [34]:
## merge 메서드는 기본적으로 내부 조인을 실행하며,
## 메서드를 사용한 데이터프레임(site)을 왼쪽으로 지정하고 첫 번째 인자값으로 지정한 데이터프레임(visited_subset)을 오른쪽으로 지정한다.

o2o_merge = site.merge(visited_subset, left_on='name', right_on='site')
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [35]:
## 다음은 site, visited 데이터프레임을 이용하여 데이터를 연결할 것이다.

m2o_merge = site.merge(visited, left_on='name', right_on='site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [36]:
## 다른 데이터프레임도 연결해볼 것이다. 다음은 person, survey 데이터프레임과 visited, survey 데이터프레임을 merge메서드로 연결한 것이다.
ps = person.merge(survey, left_on = 'ident', right_on = 'person')
vs = visited.merge(survey, left_on='ident', right_on='taken')

print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [37]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

# 8.2 누락값 처리하기

## 8.2.1 누락값 확인하기

In [38]:
# 먼저 누락값을 사용하기 위해 numpy에서 누락값을 불러온다.
from numpy import NaN, NAN, nan

In [39]:
# 누락값은 0, ''와 같은 값과는 다른 개념이라는 것에 주의해야한다. 누락값은 말 그대로 데이터 자체가 없다는 것을 의미한다.
# 그래서 '같다'라는 개념도 없다. 다음은 누락값과 True, False, 0,''을 비교한 결과이다.
print(NaN == True)
print(NaN == False)
print(NaN == 0)
print(NaN == '')

# 비교할 값 자체가 없으니 모두 False를 출력한다.

False
False
False
False

In [40]:
# 따라서 자기 자신과 비교해도 True가 아닌 False를 출력한다.
print(NaN == NaN)

False

In [41]:
# 그렇다면 누락값은 어떻게 확인할 수 있을까? 다행히 판다스에는 누락값을 확인하는 메서드인 isnull이 있다.
import pandas as pd

print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))

True
True
True

In [42]:
# 반대의 경우(누락값이 아닌 경우)도 검사할 수 있다. 
print(pd.notnull(NaN))   # 누락값이므로 False
print(pd.notnull(42))    # 누락값이 아니므로 True
print(pd.notnull('missing'))   # 누락값이 아니므로 True

False
True
True

## 8.2.2 누락값이 생기는 이유

In [43]:
visited = pd.read_csv('/content/drive/MyDrive/3주차/dataset/survey_visited.csv')
survey = pd.read_csv('/content/drive/MyDrive/3주차/dataset/survey_survey.csv')

print(visited)
print(survey)

# 결과에서 데이터프레임의 누락값이 몇 개 안된다고 해서 함부로 연결하면 안된다.

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [44]:
# 앞의 과정에서 구한 데이터 집합들을 연결해 볼 것이다.
vs = visited.merge(survey, left_on='ident', right_on='taken')
print(vs)

# 누락값이 많이 생겨난 것을 볼 수 있다.

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [45]:
# 이처럼 데이터프레임에 존재하지 않는 데이터를 추출하면 누락값이 생긴다.
# 이번에는 갭마인더 데이터 집합을 불러와 실습해보자.

gapminder = pd.read_csv('/content/drive/MyDrive/3주차/dataset/gapminder.tsv', sep='\t')

In [46]:
print(gapminder)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [47]:
# 다음은 gapminder 데이터프레임을 연도별로 그룹화한 다음 lifeExp열의 평균을 구한 것이다.
life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [48]:
# 다음은 range 메서드를 이용하여 lifeExp 열에서 2000~ 2009년의 데이터를 추출한 것이다.
# 하지만 이렇게 데이터를 추출하면 처음부터 life_Exp 열에 없었던 연도가 포함되기 때문에 누락값이 많이 발생한다.

# 이러한 문제를 해결하기 위해서는 '불린 추출'을 이용한다.
y2000 = life_exp[life_exp.index > 2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [49]:
# 지금까지 누락값이 생기는 다양한 경우에 대해 알아보았다.
# 그렇다면 이번에는 누락값의 개수를 구하는 방법에 대해 알아보자!

## 8.2.3 누락값의 개수 구하기

In [50]:
# 실습에 사용될 데이터를 불러온다.
ebola = pd.read_csv('/content/drive/MyDrive/3주차/dataset/country_timeseries.csv')

In [51]:
# 먼저 count 메서드로 '누락값이 아닌 값의 개수'를 구해보자.
print(ebola.count())

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [52]:
# shape[0]에 전체 행의 데이터 개수가 저장되어 있다.
# 이 점을 이용하여 'shape[0] - 누락값이 아닌 값의 개수 = 누락값의 개수'를 구하자.

num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [53]:
# count 메서드를 사용해도 되지만 count_nonzero, isnull 메서드를 조합해도 누락값의 개수를 구할 수 있다.
## count_nonzero 메서드는 배열에서 0이 아닌 값의 개수를 세는 메서드이다.
import numpy as np

print(np.count_nonzero(ebola.isnull()))
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

1214
29

In [54]:
# 시리즈에 포함된 'value_counts 메서드'는 지정한 열의 빈도를 구하는 메서드이다.
# value_counts 메서드를 사용해 Cases_Guinea 열의 누락값 개수를 구하려면 다음과 같이 입력해보자.
## 참고로 dropna는 누락값이 포함된 행들을 모두 삭제하는 명령이다.

print(ebola.Cases_Guinea.value_counts(dropna=False).head())

NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: Cases_Guinea, dtype: int64

## 8.2.4 누락값 처리하기

In [55]:
# 누락값은 누락값을 임의의 값으로 변경하거나 데이터프레임에 이미 있는 값으로 대신 채우는 방법 등으로 처리할 수 있다.

In [56]:
# 1. 누락값 변경하기

In [57]:
# 데이터프레임에 포함된 fillna 메서드에 0을 대입하면 누락값을 0으로 변경한다. 
## fillna 메서드는 처리해야 하는 데이터프레임의 크기가 매우 크고 메모리를 효율적으로 사용해야 하는 경우에 자주 사용하는 메서드이다.

print(ebola.fillna(0).iloc[0:10, 0:5])    # fillna()에 0을 넣었으므로 누락값을 NaN에서 0.0으로 변경한다. / 다른 숫자 넣으면 그 값으로 변경된다.

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [58]:
# fillna 메서드의 method 인자값을 ffill로 지정하면 누락값이 나타나기 '전'의 값으로 변경된다.
print(ebola.fillna(method='ffill').iloc[0:10, 0:5])
                                      #  행    열

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [59]:
# fillna 메서드의 method 인자값을 bfill로 지정하면 누락값이 나타난 '이후'의 값으로 변경된다.
print(ebola.fillna(method='bfill').iloc[-6:, 0:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
116  3/28/2014    6         112.0            3.0                2.0
117  3/27/2014    5         103.0            8.0                6.0
118  3/26/2014    4          86.0            NaN                NaN
119  3/25/2014    3          86.0            NaN                NaN
120  3/24/2014    2          86.0            NaN                NaN
121  3/22/2014    0          49.0            NaN                NaN

In [60]:
# interpolate 메서드 <- 누락값 양쪽 값 이용하여 중간값 구하여 누락값 처리
print(ebola.interpolate().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [61]:
# ebola 데이터 구조 확인
print(ebola.shape)

(122, 18)

In [65]:
# 누락값 삭제하기 <- dropna 메서드 사용

## 누락값이 필요 없을 경우에는 누락값을 삭제할 수도 있다. 하지만 누락값을 무작정 삭제하면 데이터가 너무 편향되거나 데이터의 개수가 너무 적어질 수 있다.
## 따라서 분석할 때 잘 판단하자!

## 누락값을 삭제하기 위해서는 dropna 메서드를 사용한다. 누락값이 포함된 행들이 모두 삭제되기 때문에 많은 데이터가 삭제될 것이다.
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)
print(ebola_dropna)

(1, 18)
          Date  Day  ...  Deaths_Spain  Deaths_Mali
19  11/18/2014  241  ...           0.0          6.0

[1 rows x 18 columns]

In [66]:
# 누락값이 포함된 데이터 계산하기

## ebola 데이터의 Guinea, Liberia, SierrLeone 열에는 누락값들이 존재한다.
## 만약 이 열들을 가지고 ebola 발병 수의 합을 계산하면 어떻게 될까?
## 일단 Cases_Guinea, Cases_Liberia, Cases_SierraLeone 열을 더하여 Cases_multiple 열을 새로 만들어보자!

ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']

In [67]:
## Cases_multiple 열을 포함하여 ebola_subset 이라는 데이터프레임을 새로 만들어 어떤 값이 존재하는지 확인해보자.

ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 'Cases_multiple']]   # 행이나 열 자리에 :을 쓰면 전체를 인덱싱한다는 뜻이다.
print(ebola_subset.head(n=10))

## Cases_Guinea, Cases_Liberia, Cases_SierraLeone 에서 누락값이 하나라도 있는 행은 계산 결과가 NaN이 되었음을 알 수 있다.
## 즉, 계산 결과 누락값이 더 많이 생겼다는 것을 알 수 있다.

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0

In [68]:
## Cases_multiple 열을 sum 메서드를 사용해 더하면 세 지역의 ebola 발병 수의 합을 구할 수 있다.

## 이때 sum 메서드를 그냥 사용하면 누락값을 포함해 계산한다. 그렇게 하면 결과도 누락값이 되므로, 누락값을 무시하기 위해서는 skipna 인자값을 True로 설정한다.

print(ebola.Cases_Guinea.sum(skipna= True))   # 누락값 무시하고 계산

84729.0

In [69]:
print(ebola.Cases_Guinea.sum(skipna = False))   # 누락값 무시하지 않고 계산 -> 당연히 결과는 누락값

nan

In [70]:
print(ebola.Cases_Guinea.mean(skipna = True))
print(ebola.Cases_Guinea.max(skipna = True))
print(ebola.Cases_Guinea.min(skipna= True))

911.0645161290323
2776.0
49.0