<a href="https://colab.research.google.com/github/dianakang/K_digital_likelion/blob/master/20201222.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6.1 판다스 데이터프레임과 시리즈

## 6.1.1 시리즈 만들기

In [1]:
# 판다스의 Series 메서드에 리스트를 전달하여 시리즈를 생성한다.
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
# 시리즈를 생성할 때 문자열을 인덱스로 지정할 수도 있다.
# Series 메서드의 index 인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달한다.
s = pd.Series(['Wes Mckinney', 'creator of Pandas'])
print(s)

0         Wes Mckinney
1    creator of Pandas
dtype: object

In [4]:
s = pd.Series(['Wes Mckinney', 'creator of Pandas'], index = ['Person','who'])
print(s)

Person         Wes Mckinney
who       creator of Pandas
dtype: object

In [5]:
a = pd.Series(['Diana Kang', 'CEO'])
print(a)

0    Diana Kang
1           CEO
dtype: object

In [6]:
a = pd.Series(['Diana Kang', 'CEO'], index = ['Person', 'who'])
print(a)

Person    Diana Kang
who              CEO
dtype: object

## 6.1.2 데이터프레임 만들기

In [7]:
# 데이터프레임을 만들기 위해서는 딕셔너리 DataFrame 클래스에 전달해야한다.
# 딕셔너리는 {key:value} 값을 갖는다.
scientists = pd.DataFrame({
    'Name' : ['Geoffrey Everest Hinton', 'Marvin Lee Minsky'],
    'Occupation' : ['pioneer in AI', 'pioneer in AI'],
    'Born' : ['1947-12-06','1927-08-09'],
    'Died' : ['_', '2016-01-24'],
    'Age' : [73, 88] 

})
print(scientists)

# 시리즈와 마찬가지로 데이터프레임도 인덱스를 따로 지정하지 않으면 인덱스를 0부터 자동으로 생성한다.
# 인덱스를 따로 지정하려면 index 인자에 리스트를 전달하면 된다.

                      Name     Occupation        Born        Died  Age
0  Geoffrey Everest Hinton  pioneer in AI  1947-12-06           _   73
1        Marvin Lee Minsky  pioneer in AI  1927-08-09  2016-01-24   88

In [11]:
# columns 인자를 사용하여 데이터프레임의 열 순서 지정하기
scientists = pd.DataFrame(
    data = {'Occupation' : ['pioneer in AI', 'pioneer in AI'],
            'Born' : ['1947-12-06','1927-08-09'],
            'Died' : ['__', '2016-01-24'],
            'Age' : [73, 88]},
    index = ['Geoffrey Everest Hinton', 'Marvin Lee Minsky'],   # 행
    columns = ['Occupation', 'Born', 'Age', 'Died'])            # 열

print(scientists)
# 데이터프레임을 만들 때 Occupation, Born, Died, Age의 순서로 딕셔너리를 전달했어도, 
# colums 인자에 Occupation, Born, Age, Died의 순서로 열 이름을 전달하면 생성된 데이터프레임의 열 순서는 columns에 전달한 값을 따라간다.

                            Occupation        Born  Age        Died
Geoffrey Everest Hinton  pioneer in AI  1947-12-06   73          __
Marvin Lee Minsky        pioneer in AI  1927-08-09   88  2016-01-24

# 6.2 시리즈 다루기 - 기초편

In [ ]:
# 판다스의 데이터를 구성하는 가장 기본적인 단위는 시리즈이다.
# 이번에는 데이터프레임에서 시리즈를 선택하는 방법에 대해 살펴볼 것이다.

## 6.2.1 데이터프레임에서 시리즈 선택하기

In [ ]:
# 먼저 변수 scientists에 데이터프레임을 준비한다.

In [12]:
scientists = pd.DataFrame(
    data = {'Occupation' : ['pioneer in Ai','pioneer in A.I'],
            'Born' : ['1947-12-06','1927-08-09'],
            'Died' : ['__', '2016-01-24'],
            'Age' : [73, 88]},
    index = ['Geoffrey Everest Hinton', 'Marvin Lee Minsky'],
    columns = ['Occupation', 'Born', 'Died','Age'])

In [13]:
# 데이터프레임에서 시리즈를 선택하려면 loc속성에 인덱스를 전달하면 된다.
# type을 통해 시리즈가 맞는지 다시 한 번 확인한다.
first_row = scientists.loc['Geoffrey Everest Hinton']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [14]:
# 데이터프레임을 만들 때 Age열에 정수형 리스트를 전달해도 시리즈(first_row)를 출력해보면 object(문자열)로 인식한다.
print(first_row)
# Died의 값이 _인 것은 값이 없다는 것이다. 프로그래밍에서는 값이 없을 때, _(언더바)를 넣어준다.

Occupation    pioneer in Ai
Born             1947-12-06
Died                     __
Age                      73
Name: Geoffrey Everest Hinton, dtype: object